[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-osc = "*"
websocket-server = "*"
python-dotenv = "*"
logger = "*"

[dev-packages]

[requires]
python_version = "3.8"
